body {
    background-image: url('../images/aquawall.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(130, 153, 253);
}

.navbar_brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron{
    color:#ffff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: -17;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}
